* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin flex-set($justifyContent, $alignItems, $flexDirection) {
  display: flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-direction: $flexDirection;
}
@mixin size-set($width, $height, $backgroundColor:#ccc) {
  width: $width;
  height: $height;
  background-color: $backgroundColor;
}
%test-border { border: 1px solid #000;}


#doc-sizing {
  @include size-set(100vw, 100vh, #333);
  @include flex-set(center, center, row);


  & > div { //container
    @include size-set(50vw, 50vh, #666);
    @include flex-set(center, center, column);
    
    &> section:nth-child(1) {
      @include size-set(50vw, 50%, #888);
      @extend %test-border;
      @include flex-set(center, center, row);

      &> div { //item-wrapper
        @include size-set(50%, 100%, #ccc);
        @include flex-set(left, center, row);
        position: relative;
        border: 1px solid yellow;

        & > div {
          min-width: 100%;
          @include size-set(100%, 100%, #fcc);
          @extend %test-border;
          position: relative;
        }
        & > div:nth-child(2) {
          background-color: #ccf;
        }
      }
    }
    &>section:nth-child(2) {
      @include size-set(50vw, 50%, #aaa);
      @extend %test-border;
      & div {
        @include size-set(100px, 100px, white);
        @extend %test-border;
      }
      & div:hover {
        background-color: #ffc;
      }
    }
  }
}